<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Playwright Web Data Scraper Suite">
    <test name="Market Data Scraper Test">
        <classes>
            <class name="org.automation.playwrightwebsrapingframework.tests.MarketDataScraperTest"/>
        </classes>
    </test>
</suite>
